<style type="text/css">body,
ul.w3-ul {
    margin: 0
}

.slides>div,
.w3-display-container,
.w3-tooltip {
    position: relative
}

.w3-navbar,
ul.w3-ul {
    list-style-type: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.w3-btn,
.w3-btn-block {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-closebtn,
a {
    text-decoration: none
}

ul.w3-ul {
    padding: 0
}

ul.w3-ul li {
    padding: 6px 2px 6px 16px;
    border-bottom: 1px solid #ddd
}

ul.w3-ul li:last-child {
    border-bottom: none
}

.w3-fluid {
    max-width: 100%;
    height: auto
}

.w3-tooltip .w3-text {
    display: none
}

.sidebar-list {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin-top: 10px
}

.sidebar-title {
    border-bottom: 1px solid #e5e6e9;
    padding: 6px 12px
}

.sidebar-title h2 {
    color: #2C7ABE;
    margin: 0;
    display: inline;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2px
}

.sidebar-title i {
    font-size: 20px;
    font-weight: 600;
    margin-left: 2px
}

.top-icon,
.top-number {
    font-size: 25px;
    letter-spacing: -.5px
}

.sidebar-content {
    padding: 12px
}

.sidebar-content a {
    color: #333
}

.sidebar-content a:hover {
    color: #2C7ABE
}

.sidebar-content i {
    margin: 0 5px
}

.sidebar-content ul li {
    padding: 0 0 8px
}

.top-number {
    font-weight: 200;
    color: #2980b9
}

.top-icon {
    color: #ccc
}

.slides-caption h3,
.top-right h3 {
    letter-spacing: -1px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden
}

.top-one {
    color: #E74C3C
}

.top-two {
    color: #4CAF50
}

.top-three {
    color: #FFC107
}

.top-right {
    padding: 6px 12px 6px 0
}

.top-right a {
    color: #333
}

.top-right a:hover {
    color: #2C7ABE
}

.top-right h3 {
    font-size: 15px;
    text-transform: capitalize;
    margin: 0
}

.top-continue,
.top-right span {
    color: #999!important;
    font-size: 11px;
    display: block
}

.top-right i {
    margin: 0
}

.sidebar-category ul li {
    border: none
}

.not-fixed {
    margin-top: 0!important
}

.slides {
    display: none
}

.slides a {
    color: #fff
}

.slides>div {
    width: 90%;
    text-align: center;
    padding: 6px
}

.slides-img {
    width: 100%;
    height: 270px;
    box-shadow: 1px 1px 3px #ccc
}

.slides-caption {
    height: 45px;
    background: #444;
    opacity: .8;
    padding: 3px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    position: absolute
}

.slides-caption h3 {
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    z-index: 1
}

.slides-caption p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.slides-view {
    font-size: 13px;
    font-weight: 600;
    background: #444;
    color: #fff;
    opacity: .7;
    padding: 2px 6px;
    right: 6px;
    top: 6px;
    position: absolute
}

.slides-next,
.slides-prev {
    top: 40%;
    position: absolute;
    cursor: pointer
}

.slides-chapter {
    font-size: 12px;
    color: #ccc;
    margin: 0
}

.slides-prev {
    left: 6px
}

.slides-next {
    right: 6px
}

.slides-next i,
.slides-prev i {
    font-size: 60px
}

.hot-label {
    width: 80px;
    height: 80px;
    position: absolute;
    display: block;
    top: 6px;
    left: 6px;
}

.w3-badge,
.w3-left,
.w3-right {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.list-hot {
    background: #fff;
    border: 1px solid #e5e6e9;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px
}

.list-cate,
.list-full,
.list-new,
.list-review,
.list-shortstory,
.list-update {
    background: #fff;
    border: 1px solid #e5e6e9;
    border-radius: 3px;
    margin-bottom: 10px
}

.list-hot>.list-content a {
    color: #fff
}

.list-shortstory>.list-content {
    padding: 12px 6px 0 12px
}

.list-full>.list-content,
.list-hot>.list-content {
    padding: 6px
}

.list-content a {
    color: #444
}

.list-content a:hover {
    color: #018FE5
}

.list-row {
    font-size: 14px;
    letter-spacing: -.5px;
    border-bottom: 1px dashed #e5e6e9
}

.list-row p,
.row-first {
    overflow: hidden;
    text-overflow: ellipsis
}

.list-row p {
    margin: 0
}

.row-first,
.row-second,
.row-third {
    padding: 8px 10px
}

.row-first {
    border-right: 0 dashed #e5e6e9
}

.row-first a {
    color: #777
}

.row-first i {
    color: #ccc;
    margin-right: 3px
}

.row-first h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -.5px;
    margin: 0;
    padding: 0;
    display: inline;
    text-transform: capitalize
}

.row-first img {
    width: 35px;
    height: 45px;
    margin-bottom: 0
}

.full-icon:before,
.hot-icon:before,
.new-icon:before {
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px
}

.new-icon:before {
    content: "NEW";
    color: #2980B9;
    border: 1px solid #2980B9
}

.hot-icon:before {
    content: "HOT";
    color: #e74c3c;
    border: 1px solid #e74c3c
}

.full-icon:before {
    content: "FULL";
    color: #4CAF50;
    border: 1px solid #4CAF50
}

.list-post {
    background: #fff;
    border: 1px solid #e5e6e9;
    border-radius: 3px
}

.list-post>.list-title {
    padding: 6px 12px
}

.list-post>.list-content {
    padding: 0 12px
}

.list-title {
    border-bottom: 1px solid #ECF0F1;
    padding: 6px 12px
}

.list-title a {
    color: #2980b9
}

.list-title a:hover {
    color: #444
}

.list-title h1,
.list-title h2 {
    color: #2C7ABE;
    display: inline;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2px;
    text-transform: uppercase
}

.list-title i {
    font-size: 20px;
    font-weight: 600;
    margin-left: 2px
}

.list-title>div {
    display: initial
}

.title-right {
    font-size: 13px;
    margin-top: 4px;
    float: right
}

.w3-navbar {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.w3-navbar li {
    float: left
}

.w3-navbar li a {
    display: block;
    padding: 8px 16px
}

.w3-navbar li a:hover {
    color: #000;
    background-color: #ccc
}

.w3-closebtn,
.w3-closenav,
.w3-opennav {
    color: inherit
}

.w3-closenav:hover,
.w3-opennav:hover {
    cursor: pointer;
    opacity: .8
}

#main,
.w3-main {
    transition: margin-left .4s
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.w3-closebtn {
    float: right;
    font-size: 24px;
    font-weight: 700
}

.w3-select {
    padding: 9px 0;
    width: 100%;
    color: #000;
    border: 1px solid transparent;
    border-bottom: 1px solid #009688
}

.w3-select select:focus {
    color: #000;
    border: 1px solid #009688
}

.w3-select option[disabled] {
    color: #009688
}

.w3-dropdown-click,
.w3-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.w3-dropdown-hover:hover .w3-dropdown-content {
    display: block;
    z-index: 1
}

.w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0
}

.w3-dropdown-content a {
    padding: 6px 16px;
    display: block
}

.w3-dropdown-content a:hover {
    background-color: #ccc
}

.w3-btn-bar:after,
.w3-btn-bar:before,
.w3-btn-group:after,
.w3-btn-group:before,
.w3-clear:after,
.w3-container:after,
.w3-row-padding:after,
.w3-row:after,
.w3-topnav:after {
    content: "";
    display: table;
    clear: both
}

.w3-col,
.w3-half,
.w3-quarter,
.w3-third,
.w3-threequarter,
.w3-twothird {
    float: left;
    width: 100%
}

.w3-col.s1 {
    width: 8.33333%
}

.w3-col.s2 {
    width: 16.66666%
}

.w3-col.s3 {
    width: 24.99999%
}

.w3-col.s4 {
    width: 33.33333%
}

.w3-col.s5 {
    width: 41.66666%
}

.w3-col.s6 {
    width: 49.99999%
}

.w3-col.s7 {
    width: 58.33333%
}

.w3-col.s8 {
    width: 66.66666%
}

.w3-col.s9 {
    width: 74.99999%
}

.w3-col.s10 {
    width: 83.33333%
}

.w3-col.s11 {
    width: 91.66666%
}

.w3-col.s12,
.w3-half,
.w3-quarter,
.w3-third,
.w3-threequarter,
.w3-twothird {
    width: 99.99999%
}

@media only screen and (min-width:601px) {
    .w3-col.m1 {
        width: 8.33333%
    }
    .w3-col.m2 {
        width: 16.66666%
    }
    .w3-col.m3,
    .w3-quarter {
        width: 24.99999%
    }
    .w3-col.m4,
    .w3-third {
        width: 33.33333%
    }
    .w3-col.m5 {
        width: 41.66666%
    }
    .w3-col.m6,
    .w3-half {
        width: 49.99999%
    }
    .w3-col.m7 {
        width: 58.33333%
    }
    .w3-col.m8,
    .w3-twothird {
        width: 66.66666%
    }
    .w3-col.m9,
    .w3-threequarter {
        width: 74.99999%
    }
    .w3-col.m10 {
        width: 83.33333%
    }
    .w3-col.m11 {
        width: 91.66666%
    }
    .w3-col.m12 {
        width: 99.99999%
    }
}

@media only screen and (min-width:993px) {
    .w3-col.l1 {
        width: 8.33333%
    }
    .w3-col.l2 {
        width: 16.66666%
    }
    .w3-col.l3,
    .w3-quarter {
        width: 24.99999%
    }
    .w3-col.l4,
    .w3-third {
        width: 33.33333%
    }
    .w3-col.l5 {
        width: 41.66666%
    }
    .w3-col.l6,
    .w3-half {
        width: 49.99999%
    }
    .w3-col.l7 {
        width: 58.33333%
    }
    .w3-col.l8,
    .w3-twothird {
        width: 66.66666%
    }
    .w3-col.l9,
    .w3-threequarter {
        width: 74.99999%
    }
    .w3-col.l10 {
        width: 83.33333%
    }
    .w3-col.l11 {
        width: 91.66666%
    }
    .w3-col.l12 {
        width: 99.99999%
    }
}

.w3-content {
    max-width: 980px;
    margin: auto
}

.w3-rest {
    overflow: hidden
}

.w3-hide {
    display: none!important
}

.w3-show,
.w3-show-block {
    display: block!important
}

.w3-show-inline-block {
    display: inline-block!important
}

.w3-bottom,
.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.w3-top {
    top: 0
}

.w3-bottom {
    bottom: 0
}

body {
    font-size: 15px;
    background: #eee;
    color: #333
}

a {
    color: #2980B9
}

.w3-container {
    padding-left: 10px;
    padding-right: 10px
}

.navbar {
    width: 1000px;
    height: 50px;
    margin: auto
}

#main {
    width: 1000px;
    margin: 50px auto 0
}

#list {
    width: 680px
}

#sidebar {
    width: 320px
}

.copyright {
    width: 1000px;
    margin: 0 auto
}

#header {
    background: #2C7ABE;
    z-index: 10
}

#logo h1 {
    margin: 0
}

#logo a {
    padding: 5px 16px
}

#logo a:hover {
    background: 0 0
}

#logo img {
    width: 40px
}

#logo span {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute
}

.navbar i {
    margin-right: 3px
}

.navbar li a {
    font-size: 15px
}

.navbar>li>a {
    padding: 14px 16px;
    color: #f2f2f2
}

.navbar-dropdown {
    max-width: 300px
}

.navbar-dropdown a {
    color: #444;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee
}

.navbar-search {
    padding: 10px
}

.search-bar {
    width: 350px;
    height: 30px;
    position: relative;
}

.search-bar input {
    width: 85%;
    height: 29px;
    font-size: 15px;
    padding: 3px 10px;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px 0 0 2px
}

.search-bar button {
    width: 15%;
    height: 29px;
    background: #e5e6e9;
    color: #444;
    font-size: 16px;
    padding: 1px 12px;
    border-radius: 0 2px 2px 0
}
.error-input {
    text-align: left;
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
    font-style: italic;
    padding-left: 10px;
}
</style>